#infoContainer {
  display: none;
}

#boardContainer {
  display: none;
}

#restart {
  display: none;
}

#name {
  
}

#characterSelectionContainer {
  display: none;
}

#gameContainer {
  display: none;
}